@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

/* Remove default margin/padding */
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 1rem;
  background-color: #535c91;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: gray;
  transition: 0.15s;
}
