@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

/* Remove default margin/padding */
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: start; /* Or center / space-between depending on your layout */
  gap: 1rem;
  padding: 1rem;
  background-color: #282c34; /* Example background */
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: gray;
  transition: 0.15s;
}
